.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  background-color: #ff4141;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo img {
  width: 30px;
  margin-right: 0.5rem;
  cursor: pointer;
}
.nav-logo p {
  font-size: 1.3rem;
  font-weight: 800;
  font-family: monospace;
  color: white;
}
.nav-list {
  min-width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list li {
  display: inline-block;
  cursor: pointer;
}
.nav-list a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}
.nav-list hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: white;
}
.auth-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}
.auth-cart button {
  width: 100px;
  height: 35px;
  outline: none;
  border: 1px solid #7a7a7a;
  color: #515151;
  font-weight: 900;
  cursor: pointer;
  border-radius: 20px;
}
.auth-cart button:active {
  background-color: #7a7a7a;
}
.nav-counter {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  margin-left: -35px;
  margin-top: -27px;
}
